.filter-interface {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--interface-page-color);
    opacity: 0.891;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    z-index: 100;
    border: var(--counter-background-color) 0.4rem solid;
}

.filter-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

#closeFilterBtn{
    padding : 0.1rem;
    padding-inline: 0.5rem;
    background-color: var(--button-deny-color);
    border: 1rem;
    border-radius: 0.2rem;
    transition: background-color 0.3s ease;
}

#closeFilterBtn:hover{
    background-color: var(--button-deny-hovering-color);
}

#applyTheFilterBtn{
    padding : 0.1rem;
    padding-inline: 0.5rem;
    background-color: var(--button-accept-color);
    border: 1rem ;
    border-radius: 0.2rem;
    transition: background-color 0.3s ease;
}

#applyTheFilterBtn:hover{
    background-color: var(--button-accept-hovering-color);
}

#resetFilterBtn{
    padding : 0.1rem;
    padding-inline: 0.5rem;
    background-color: var(--button-intermediate-color);
    border: 1rem ;
    border-radius: 0.2rem;
    transition: background-color 0.3s ease;
}

#resetFilterBtn:hover{
    background-color: var(--button-intermediate-hovering-color);
}

#typeInputFilter option[value="Book"] {
    background-color: var(--book-color);
}

#typeInputFilter option[value="Movie"] {
    background-color: var(--movie-color);
}

#typeInputFilter option[value="Series"] {
    background-color: var(--series-color);
}