#shelvesContainer {
    background-color: var(--main-theme-color);
    border : var(--counter-background-color) 0.15rem solid;
    border-radius: 0.5rem;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    height: 90%;
    width : 55rem;
    max-width: 100%;
}

.shelf{
    background-color: var(--counter-background-color);
    width: 50rem;
    margin: 2rem;
    height: 6rem;
    display: flex;
    flex-direction:row;
    align-items: flex-end;
    justify-content: start;
    border: var(--shelves-wood-color) 0.5rem solid;
    border-radius: 0.2rem;
    overflow: hidden;
}