#bookPageBtnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 0.5rem;
    margin-top: 1rem;
}

#bookCloseBtn{
    padding : 0.1rem;
    padding-inline: 0.5rem;
    background-color: var(--button-accept-color);
    border: 1rem rgb(0, 0, 0);
    border-radius: 0.2rem;
    transition: background-color 0.3s ease;
}

#bookCloseBtn:hover{
    background-color: var(--button-accept-hovering-color)
}

#deleteBookBtn.default {
    padding : 0.1rem;
    padding-inline: 0.5rem;
    background-color: var(--button-deny-color);
    border: 1rem rgb(0, 0, 0);
    border-radius: 0.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#deleteBookBtn.default:hover {
    background-color: var(--button-deny-hovering-color);
}

#deleteBookBtn.confirmation {
    background-color: var(--confirm-delete-color);
    color: var(--text-confirm-delete-color);
    transition: background-color 0.3s ease;
    padding : 0.1rem;
    padding-inline: 0.5rem;
    border: 1rem rgb(0, 0, 0);
    border-radius: 0.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#deleteBookBtn.confirmation:hover {
    background-color:var(--confirm-delete-hovering-color);
}